# ==========================================
# Игнорируем мусор Visual Studio
# ==========================================

# Скрытая папка с настройками IDE
.vs/

# Файлы решений и проектов (если хотите, чтобы другие могли открыть проект, 
# уберите звездочки ниже, но для сдачи тестового обычно достаточно только main.cpp)
*.slnx
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Папки сборки (бинарники, объектные файлы)
x64/
x86/
Debug/
Release/
build/
bin/
obj/

# Скомпилированные файлы
*.exe
*.obj
*.o
*.out
*.pdb
*.ilk
*.exp

# ==========================================
# Системный мусор
# ==========================================
.DS_Store
Thumbs.db